<div class="menu__con">
  <div class="cabinet__header__text">Your account is verified</div>
  <div class="cabinet__body__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
</div>
