
  <div class="card border-0 news__body">
    <div class="card-body">
      <p>{{news['date']}}</p>
      <div class="news__title">{{news.title}}</div>
      <div class="news__content">{{news['content']}}</div>
    </div>
  </div>
