<p class="verification__p mb-3">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
<input class="form-control sign_up_input" type="text" placeholder="Last name" />
<div class="d-flex justify-content-between align-items-center">
  <input class="form-control patronymic " type="text" placeholder="First name" />
  <input class="form-control patronymic " type="text" placeholder="Patronymic" />
</div>
<input class="form-control sign_up_input" type="date" placeholder="Birth date" />
<button (click)="verifySecond('second')"  class="sign__in__button"><span>Confirm</span></button>

