.sign_up_input {
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #F3F4F8;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.patronymic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
  width: 136px;
  height: 39px;
  background: #F3F4F8;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

