<nav class="navbar  sidenav" style="margin-bottom: 100px">
  <div class=" d-flex align-items-center ">
    <a class="navbar-brand pe-4" href="#"><img src="assets/images/logo.svg"></a>
    <a class="navbar-brand pt-3" href="#"><p>About Us</p></a>
    <a class="navbar-brand pt-3" href="#"><p>Calculator</p></a>
    <a class="navbar-brand pt-3  " href="#"><p>Contacts</p></a>
  </div>
  <div  [class]="cabinet ? 'select_':'select__'" >
    <select  class="form-select border-0">
    <option style="font-size: 14px" selected>en</option>
  </select></div>
</nav>
