.select__ select {
  background: transparent;
  color: #fff;
}
.select_ select{
  background: transparent;
  color: black;
}
.my_account {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}
