textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
  width: 360px;
  height: 54px;
  background: #F3F4F8;
  border-radius: 10px;
  margin-bottom: 20px;
}
textarea::placeholder{
  width: 49px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}
