<div class="menu__con">
  <div class="cabinet__header__text">USDT address</div>
  <div><textarea placeholder="Address" class="form-control"></textarea></div>
  <div class="change__function">Change</div>
  <div class="d-flex justify-content-center align-items-center mb-2"><strong>TRC20</strong></div>
  <button style="width: 360px!important;"  class="sign__in__button"><span>Confirm</span></button>
</div>
