<div class="menu__con">
  <div class="cabinet__header__text">Sell USDT</div>
  <div class="cabinet__body__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua
  </div>
  <div class="change__function">Change</div>
  <div class="d-flex justify-content-center align-items-center">
    <input ngModel="15.50" style="width: 70px;height: 24px;" class="form-control border-0 text-center mb-4"/>
  </div>
  <strong class="d-flex justify-content-center align-items-center mb-2">usdt</strong>
  <div style="font-weight: 400;font-size: 14px;margin-bottom: 20px">You will get <strong>174 000 Som</strong></div>
  <button style="width: 360px!important;"  class="sign__in__button"><span>Confirm</span></button>
</div>
