<div class="second__verify_animate">
  <input class="form-control sign_up_input" type="number" min="0" placeholder="ID series and number" />
  <p class="verification__p mb-3">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
  <div class="image__upload">
    <img [src]="imagePath" height="120px" width="280px" [alt]="imagePath">
  </div>
  <div>
    <input type="file" class="file-input" (change)="fnChange($event)" #fileUpload hidden>
    <button class="upload" (click)="fileUpload.click()">
      <span>Drop or browse</span>
    </button>
  </div>

  <button  class="sign__in__button"><span>Confirm</span></button>
</div>
