.sign_up_input {
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #F3F4F8;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.upload {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 280px;
  height: 39px;
  border: 0.5px dashed #4F4F4F;
  border-radius: 10px;
  background: #FFFFFF;
  margin-bottom: 20px;
}

.upload span {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}

.image__upload {
  width: 280px;
  height: 120px;
  margin-bottom: 20px;
}
