.sign_up_input{
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #F3F4F8;
  border-radius: 10px;
  border:none;
  margin-bottom: 20px;
}

.checkbox_class{
  height: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
  width: 252px;
}
.checkbox_out{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
