<div class="sign__up_password_animate">
  <div class="right-inner-addon">
    <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
    <input class="form-control sign_up_input" type="password" placeholder="Password" />
  </div>
  <div class="right-inner-addon">
    <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
    <input class="form-control sign_up_input" type="password" placeholder="Repeat password" />
  </div>
  <div class="checkbox_out"><input type="checkbox"/> <span class="checkbox_class">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</span></div>
  <button routerLink="/login" class="sign__in__button"><span>Confirm</span></button>
</div>
