<input class="form-control sign_up_input mb-3" type="tel" placeholder="Phone number" />
<div class="right-inner-addon">
  <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
  <input class="form-control sign_up_input" type="password" placeholder="Password" />
</div>
<div class="text-end text-secondary mb-2" style="font-size: 12px" >Forgot password?</div>
<button routerLink="/verification" class="sign__in__button"><span>Sign In</span></button>

