<button  type="button" class="position-absolute" style="right: 5px;top:0;" tabindex="-1">
  <div class="d-flex align-items-center justify-content-center">
    <img src="/assets/images/fluent_eye-hide-24-filled.svg" alt="" [class.d-none]="isShow">
    <img src="/assets/images/fluent_eye-hide-24-filled.svg" alt="" [class.d-none]="!isShow">
  </div>
</button>
