<div class="container">
  <div class="row">
    <div class="col-3 col-lg-4 col-md-3 col-sm-2">
      <app-accordion (menuLink)="link($event)"></app-accordion>
    </div>
    <div class="col-8 col-sm-6 col-md-8">
      <div [@routerTransition]="getState(o)" >
        <router-outlet  #o="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
