<div class="w-100 position-relative d-flex" style="height: 350px">
  <div class="w-50 h-100 d-flex align-items-center justify-content-center swap__icon__body1">
    <div >
      <div class="change__calculator">Change</div>
      <div class="amount__calc">15.50</div>
      <hr style="color: antiquewhite">
      <div class="usdt">usdt</div>
    </div>
  </div>
  <div class="position-absolute swap__icon__first" ><img src="assets/images/swap-icon.png" alt="#"></div>
  <div  class="w-50 h-100  d-flex align-items-center justify-content-center swap__icon__body">
    <div >
      <div class="get__calc">Get</div>
      <div class="get_amount">174698</div>
      <hr style="color: white">
      <div class="some_calc">som</div>
    </div>
  </div>
</div>
