.change__calculator {
  font-weight: 400;
  font-size: 14px;
  color: #4F4F4F;
  text-align: center;
  padding-bottom: 20px
}

.amount__calc {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #233380;
  text-align: center
}

.usdt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
  text-align: center
}

.swap__icon__first {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.swap__icon__body {
  background: #233380;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
}

.swap__icon__body1 {
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
}

.get__calc {
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 20px
}

.get_amount {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center
}

.some_calc {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center
}
