.sign_up_input{
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #F3F4F8;
  border-radius: 10px;
  border:none;
  margin-bottom: 20px;
}
.sign_up_input::placeholder{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;

}
.resend__sms_code{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #4F4F4F;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}
.resend__sms_code span{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
