<input type="tel" placeholder="+998" class="form-control sign_up_input">
<button (click)="sendCode('1234567')" class="resend__sms_code"><span>Resend in 0:56</span></button>
<input type="number" min="0" placeholder="code" class="form-control sign_up_input">
