
  <div class="between__two__buttons_download">
    <div type="button" class="apple__google">
      <div  class="d-flex align-items-center">
      <div>
        <img src="assets/images/apple-logo-svgrepo-com%201.png">
      </div>
    <div class="ms-1">
      <p style="font-size: 8px;">Download on the</p>
      <p class="font__google__apple">App Store</p>
    </div>
      </div>
    </div>
    <div type="button" class="apple__google" style="width: 170px!important;">
      <div  class="d-flex align-items-center">
        <div>
          <img src="assets/images/logo-google-playstore-svgrepo-com%201.png">
        </div>
        <div class="ms-1">
          <p style="font-size: 8px;">Download on the</p>
          <p class="font__google__apple">Play Market</p>
        </div>
      </div>
    </div>
  </div>

