.between__two__buttons_download{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 20px;

  width: 340px;
  height: 61px;
}
.apple__google{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 160px;
  height: 61px;
  border: 0.5px solid #E9EBF3;
  border-radius: 6px;

}
.font__google__apple{
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #4F4F4F;
}
