<div id="tahoma">
  <div class="background"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 p-0">
        <app-navigation-bar [cabinet]="isCabinet" class="animated fadeInLeft"></app-navigation-bar>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

