.background{
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 44.5%;
  background-image: linear-gradient(180deg, #A564AA 0%, #EAAB6A 100%);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
