<div class="d-flex justify-content-between align-items-center p-3" style="width: 460px;">
  <div>
    <img alt="#" src="{{missions.img}}" class="pe-3">
  </div>
  <div>
    <span style="color: #A564AA;">{{missions.title}}</span>
    <p  style="line-height: 24px;">{{missions.content}}</p>
  </div>
</div>

