<div  class="container position-relative" style="z-index: 999">

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 p-0 m-0 ">
      <div class="lorem__line">
        <h2 class="first p_animated">{{dashboard_title}}</h2>
        <p class="second p_animated">{{some_words}}</p>
        <p class="third p_animated">{{some_words_bottom}}</p>
        <app-download-buttons class="fourth p_animated"></app-download-buttons>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 p-0 m-0 d-flex justify-content-end">
      <app-join-us></app-join-us>
    </div>
  </div>
  <div class="row animated fadeInRight m-0 p-0">
    <div class="col-md-12 "><h2 class="text-center" style="color: #4F4F4F;">About Us</h2></div>
  </div>
  <div class="row animated fadeInRight pt-5">
    <div class="col-md-6 p-0 ">
      <app-about-us [missions]="mission" *ngFor="let mission of missionElements"></app-about-us>
    </div>
    <div class="col-md-6 p-0 m-0 d-flex justify-content-end">
      <div style="width: 480px;height: 320px; box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);"
           class="card border-0 d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-center align-items-center"
             style="width: 440px;height: 280px; box-sizing: border-box; border: 0.5px solid #E9EBF3;border-radius: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="orange" class="bi bi-play-fill"
               viewBox="0 0 16 16">
            <path
              d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-12"><h2 class="text-center" style="color: #4F4F4F;">Calculator</h2></div>
  </div>
  <div class="row pt-5">
    <div class="col-md-6 p-0">
      <app-calculator></app-calculator>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div>
        <div class="dashboard__lorem">{{join_words}}</div>
        <div class="join__button__dashboard">Join</div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-md-12"><h2 class="text-center" style="color: #4F4F4F">News</h2></div>
    <div class="col-lg-12 col-md-12 col-sm-10 d-flex w-100 justify-content-lg-between align-items-center pt-5">
      <carousel
        [arrowsOutside]="true"
        [dots]="false"
        [autoplay]="true"
        [cellsToShow]="3"
        [overflowCellsLimit]="3"
        [cellsToScroll]="1"
        [transitionDuration]="1000"
        [margin]=20
        [height]="250"
        [transitionTimingFunction]="'ease-in-out'"
        [arrowsTheme]="'light'"
      >
        <div class="carousel-cell" *ngFor="let carousel of news">
          <div  class="card border-0 news__body">
            <div class="card-body">
              <p>{{carousel['date']}}</p>
              <div class="news__title">{{carousel.title}}</div>
              <div class="news__content">{{carousel['content']}}</div>
            </div>
          </div>
        </div>

      </carousel>
    </div>
  </div>
</div>

