<form [formGroup]="authForm" action="">
  <div class="text-center mt-3 animate_dashboard_join_us">
    <h2 class="text-white">Join Us</h2>
    <p class="mb-4 text-white">Not a member? <a routerLink="/register" class="text-white">Register now</a></p>
    <div class="w-100 join__us__inputs">
      <input
        *ngIf="phone"
        prefix="+"
        [showMaskTyped]="true"
        placeHolderCharacter="_"
        mask=" (000) 00 000 00 00"
        class="form-control border-0 input__sign__in"
        type="text"
        placeholder="Phone number"
        formControlName="username"
      />
      <div formGroupName="passwordForm">
        <div *ngIf="showPassword" class="right-inner-addon password__animate">
          <i style="cursor: pointer"><img alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
          <input
            formControlName="password"
            class="form-control border-0 password__input input__sign__in"
            type="password"
            placeholder="Password"
            [required]="true"
          />
        </div>
      </div>
      <div formGroupName="smsCodeForm">
        <div *ngIf="smsCode" class="password__animate">
          <p style="max-width:280px;white-space: normal" class="mb-2 text-white">{{message}}</p>
          <input
            formControlName="code"
            class="form-control border-0 password__input input__sign__in"
            placeholder="code"
            [required]="true"
          />
        </div>
      </div>
      <div class="text-end text-white">Forgot password?</div>
      <button *ngIf="phone" (click)="authStep1()" class="sign__in__button"><span>Send code</span></button>
      <button *ngIf="showPassword" (click)="authStep2()" class="sign__in__button"><span>Confirm</span></button>
      <button *ngIf="smsCode" (click)="authStep3()" class="sign__in__button"><span>Confirm</span></button>
    </div>
  </div>
</form>

