<div class="menu__con">
  <div class="cabinet__header__text">Your account is verified</div>
  <div class="cabinet__body__text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
  <div>
   <div  class="right-inner-addon">
     <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
     <input class="form-control sign_up_input" type="text" placeholder="Old Password" />
   </div>
  <div class="right-inner-addon">
    <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
    <input class="form-control sign_up_input" type="password" placeholder="New password" />
  </div>
   <div class="right-inner-addon">
     <i style="cursor: pointer"><img  alt="#" src="assets/images/fluent_eye-hide-24-filled.svg"></i>
     <input class="form-control sign_up_input" type="password" placeholder="Repeat password" />
   </div>
  </div>
  <div>
    <button style="width: 360px!important;"  class="sign__in__button"><span>Confirm</span></button>
  </div>
</div>
