

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tahoma {
  font-family: Montserrat, sans-serif;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 0 !important;
}

.absolute-right {
  display: inline-block;
  position: absolute;
}

.absolute-right {
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.input__sign__in {
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
  border-radius: 10px !important;
  flex: none;
  height: 39px;
  order: 0;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  gap: 10px;
}

input::placeholder {
  font-size: 12px;
}

.lorem__line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 480px;
  height: 280px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lorem__line h2 {
  color: #4F4F4F;
}

.lorem__line p {
  line-height: 24px;
}

.sign__in__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 280px;
  height: 39px;
  background: #233380;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
  border-radius: 10px;
  color: white;
  border: none
}

.sign__in__button span {
  font-size: 12px;
}

.join__us__inputs input:first-child {
  color: #A7ADCC;
  margin-bottom: 12px
}
.exchange {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  width: 280px;
  height: 48px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.exchange___p {
  width: 280px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}
.password__input {
  color: #A7ADCC;
  max-width: 280px;
  margin-bottom: 4px
}

.join__us__inputs div {
  margin-bottom: 20px;
  font-size: 12px
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #A564AA 0%, #EAAB6A 100%);
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(180deg, #A564AA 0%, #EAAB6A 100%);
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 980px!important;
}

@media screen and (max-width: 768px) {
  .container {
    width: 750px!important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 970px!important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 980px!important;
  }
}
.sign__up-uppercase {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}
.verification__p{
  width: 280px;
  height: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}
.cabinet__header__text{
  height: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  margin-bottom: 16px;
}
.cabinet__body__text{
  width: 360px;
  height: 51px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.change__function{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
  margin-bottom: 20px;
}
.menu__con {
  padding: 48px 60px;
  gap: 20px;
  width: 480px;
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
}
.right-inner-addon {
  position: relative;
}
.right-inner-addon input {
  padding-right: 30px;
}
.right-inner-addon i {
  position: absolute;
  right: 0;
  padding: 10px 12px;
}

.news__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #000000;
}

.news__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F;
}

.news__body {
  width: 290px;
  padding: 10px;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
}
.carousel__title{
  width: 273.33px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #FFFFFF;
}
.carousel__content{
  width: 273.33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E9EBF3;
}
.carousel__date{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  color: #E9EBF3;

}
