<div class="container position-relative verification__animate">
  <div class="row">
    <div class="col-sm-8 col-lg-8 col-md-8 p-0 justify-content-center d-flex align-items-center">
      <div>
        <div class="sign__up-uppercase mb-3">Verification</div>
        <app-verification-first (firstToSecond)="first($event)" *ngIf="to === 'verify1'"></app-verification-first>
        <app-verification-second *ngIf="to === 'verify2'"></app-verification-second>
      </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4 d-flex justify-content-center align-items-center">
      <carousel
        [arrowsOutside]="false"
        [dots]="true"
        [autoplay]="true"
        [cellsToShow]="1"
        [overflowCellsLimit]="1"
        [cellsToScroll]="1"
        [transitionDuration]="1000"
        [arrows]="false"
        [height]="250"
        [transitionTimingFunction]="'ease-in-out'"
      >
        <div class="carousel-cell" *ngFor="let src of carousel,let i = index">
          <div class="carousel__date">{{src['date']}}</div>
          <div class="carousel__title">{{src.title}}</div>
          <div class="carousel__content">{{src['content']}}</div>
        </div>
      </carousel>
    </div>
  </div>
</div>

