
.between__two__buttons_download{
  display: flex;
  padding: 0;
  gap: 12px;
  height: 61px;
}


.apple__google{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 160px;
  height: 61px;
  border: 0.5px solid #E9EBF3;
  border-radius: 6px;
}
.font__google__apple{
  height: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
