<div class="container position-relative sign__up_otp">
  <div class="row">
    <div class="col-sm-8 col-lg-8 col-md-8 p-0 justify-content-center d-flex align-items-center">
      <div >
        <div class="sign__up-uppercase">Sing Up</div>
        <p class="text-center">Have an account? <a href="#">Log in now</a></p>
        <app-sign-up-phone  (code)="receiveCode($event)" *ngIf="form === 'phone'"></app-sign-up-phone>
        <app-sign-up-password *ngIf="form === 'password'"></app-sign-up-password>
      </div>

    </div>
    <div class="col-sm-4 col-lg-4 col-md-4 d-flex justify-content-center align-items-center">
      <carousel
        [arrowsOutside]="false"
        [dots]="true"
        [autoplay]="true"
        [cellsToShow]="1"
        [overflowCellsLimit]="1"
        [cellsToScroll]="1"
        [transitionDuration]="1000"
        [arrows]="false"
        [height]="250"
        [transitionTimingFunction]="'ease-in-out'"
      >
        <div class="carousel-cell" *ngFor="let src of carousel,let i = index">
            <div class="carousel__date">{{src['date']}}</div>
            <div class="carousel__title">{{src.title}}</div>
            <div class="carousel__content">{{src['content']}}</div>
        </div>
      </carousel>
    </div>
  </div>
</div>
