<div id="dynamic-sidebar">
  <div class="wrapper element-shadow">
    <div class="group" *ngFor="let item of result; let i = index">
      <a
        *ngIf="item.submenu.length"
        (click)="ddToggle(item , i)"
      >{{ item.title }}</a
      >
      <a
        [class.active]="item.active"
        *ngIf="!item.submenu.length"
        (click)="ddToggle(item,i)"
        [routerLinkActive]="['active']" [routerLink]="item.parentLink"
      >{{ item.title }}</a
      >
      <div
        *ngIf="item.submenu.length"
        class="caret"
        [ngClass]="{ 'rotate-caret': item.menu }"
      >
        &#9660;
      </div>
      <div class="sub-menu" [ngClass]="{ 'show-menu': item.menu }">
        <ul *ngFor="let menu of result[i].submenu let index = index">
          <li>
            <a [routerLinkActive]="['active']" [routerLink]="menu.link">{{ menu.childText }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
