#dynamic-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 24px;
  width: 300px;
  background: #FFFFFF;
  box-shadow: 0 8px 40px rgba(165, 100, 170, 0.1);
  .wrapper {
    width: -webkit-fill-available;
    .group {
      border-bottom: 0.5px solid #E9EBF3;
      overflow: hidden;
      padding: 4px 4px;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      > a {
        color: #4F4F4F;
        padding: 7px 0 6px 20px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        &.active{
          font-weight: 700;
          color: #A564AA;
        }
      }
      >
      .caret {
        position: absolute;
        transition: transform ease-out 0.5s;
        top: 15px;
        right: 10px;
        color: #4F4F4F;
        font-size: 10px;
        transform: translateY(-50%) rotate(360deg);
      }
    }

    .sub-menu {
      transition: max-height 0.5s;
      max-height: 0;

      ul {
        margin: 0;
        padding-left: 20px;
      }

      li {
        list-style-type: none;
        line-height: 19px;
        letter-spacing: 0.1pt;

        a {
          color: #4F4F4F;
          font-family: Open Sans, sans-serif;
          padding: 4px 0 4px 15px;
          text-decoration: none;
          cursor: pointer;
          display: block;
          &.active{
            font-weight: 700;
            color: #A564AA;


          }
        }

        &:hover {
          color: blue;
        }
      }
    }
  }
}
.rotate-caret {
  transform: translateY(-50%) rotate(180deg) !important;
}

.show-menu {
  max-height: 1000px !important;
}
